<h1>Edit Book</h1>

<% @book.errors.messages.each do |title, message| %>
  <p class="bg-danger"><%= title %> <%= message.first %></p>
<% end %>

<%= form_tag "/books/#{@book.id}", method: :put do %>
  <%= render 'form' %> <!-- code for the partial -->
<% end %>