<h1>New Book</h1>

<% @book.errors.messages.each do |title, message| %>
  <p class="bg-danger"><%= title %> <%= message.first %></p>
<% end %>

<%= form_tag '/books' do %>
  <%= render 'form' %>
<% end %>